.popup {
  min-width: 40vw;
  background: linear-gradient(to bottom, #FFFFFF 0%, #207a8a7c 100%);
  font-size: 16px;
  font-weight: 600;
  padding: 20px 10px 5px 10px;
  border-radius: 5px;
  position: absolute;
  right:7vw;
  top: 7vh;
}


.popup button {
  border: none;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 700;
  position: absolute;
  top: 5px;
  right:5px;
  cursor: pointer;
  background-color: #55525243;
  color: rgb(13, 96, 111);
}

.popup ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 10px 0 0 0 ;
  color:  rgb(242, 120, 92)
}

.popup ul li {
  border-bottom: 1px solid rgb(130, 126, 126);
  padding-bottom: 10px;
}

.popup ul li:last-child {
  border: none
}