.main {
  background: url('/WelcomePage.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
  position: relative;
  z-index: 2;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
  width: 50vw;
  padding: 240px 0 0 120px
}

.description h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
}

.description p {
  font-size: 1.3rem;
}

.accent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 18px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.accent p {
  color: rgb(242, 120, 92);
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  line-height: 29px;
}


@media screen and (max-width: 1224px) {

  .main {
    height: fit-content;
  }
  .description {
    padding: 167px 30px 100px 30px;
    width: 100vw;
  }

  .accent p {
    font-size: 14px;;
  }
}